[submodule "01_newbie/nft-card-component"]
	path = 01_newbie/nft-card-component
	url = https://github.com/namlh023/nft-card-component/
[submodule "01_newbie/order-summary-component"]
	path = 01_newbie/order-summary-component
	url = https://github.com/namlh023/Order-Summary-Component
[submodule "01_newbie/equalizer-landing-page"]
	path = 01_newbie/equalizer-landing-page
	url = https://github.com/namlh023/equalizer-landing-page
[submodule "01_newbie/stats-preview-card"]
	path = 01_newbie/stats-preview-card
	url = https://github.com/namlh023/stats-preview-card-component
[submodule "01_newbie/3-columns-preview-card"]
	path = 01_newbie/3-columns-preview-card
	url = https://github.com/namlh023/3-columns-preview-card
[submodule "01_newbie/social-proof-section"]
	path = 01_newbie/social-proof-section
	url = https://github.com/namlh023/Social-Proof-Section
[submodule "01_newbie/base-apparel-comming-soon-section"]
	path = 01_newbie/base-apparel-comming-soon-section
	url = https://github.com/namlh023/base-apparel-comming-soon-section
[submodule "01_newbie/profile-card"]
	path = 01_newbie/profile-card
	url = https://github.com/namlh023/profile-card-component
[submodule "01_newbie/article-preview-card"]
	path = 01_newbie/article-preview-card
	url = https://github.com/namlh023/article-preview-card
[submodule "01_newbie/meet-landing-page"]
	path = 01_newbie/meet-landing-page
	url = https://github.com/namlh023/meet-landing-page
[submodule "01_newbie/single-price-grid"]
	path = 01_newbie/single-price-grid
	url = https://github.com/namlh023/Single-Price-Grid
[submodule "01_newbie/four-card-feature-section"]
	path = 01_newbie/four-card-feature-section
	url = https://github.com/namlh023/four-card-feature-section
[submodule "01_newbie/huddle-landing-page"]
	path = 01_newbie/huddle-landing-page
	url = https://github.com/namlh023/huddle-landing-page
[submodule "01_newbie/faq"]
	path = 01_newbie/faq
	url = https://github.com/namlh023/faq
[submodule "01_newbie/ping-comming-soon"]
	path = 01_newbie/ping-comming-soon
	url = https://github.com/namlh023/ping-comming-soon
[submodule "01_newbie/intro-with-sign-up-form"]
	path = 01_newbie/intro-with-sign-up-form
	url = https://github.com/namlh023/intro-component-with-sign-up-form
