[submodule "01_newbie/nft-card-component"]
	path = 01_newbie/nft-card-component
	url = https://github.com/namlh023/nft-card-component/
[submodule "01_newbie/order-summary-component"]
	path = 01_newbie/order-summary-component
	url = https://github.com/namlh023/Order-Summary-Component
[submodule "01_newbie/equalizer-landing-page"]
	path = 01_newbie/equalizer-landing-page
	url = https://github.com/namlh023/equalizer-landing-page
[submodule "01_newbie/stats-preview-card"]
	path = 01_newbie/stats-preview-card
	url = https://github.com/namlh023/stats-preview-card-component
